/* MEDIA QUERIES */
@media (min-width: 400px) {
  :root {
    --default-text-title: 1.25rem;
    --default-search-filter-w: 33ch;
  }

  nav .short img {
    height: 1.5rem;
    width: auto;
  }

  .card {
    width: 350px;
  }
}

@media (min-width: 500px) {
  :root {
    --default-fun-title: 1.75rem;
    --default-text-title: 1.4rem;
    --default-rem-size: 0.75rem;
    --default-search-filter-w: 41ch;
  }

  .logo-button {
    display: flex;
  }

  .fun-title {
    display: block;
  }

  nav .short img {
    height: 2rem;
    width: auto;
  }

  .card {
    width: 410px;
  }

  .col-row-adjustable {
    flex-direction: row;
    gap: var(--default-rem-size);
  }

  .product-image-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--default-rem-size);
  }

  .product-image {
    height: 9rem;
    width: 5rem;
    border: 2px solid var(--frog-black);
    border-radius: var(--border-radius-inner);
  }
}
@media (min-width: 572px) {
  .brand-fieldset {
    width: fit-content;
  }

    .range-fieldset {
    width: fit-content;
  }
}

@media (min-width: 700px) {
  :root {
    --default-fun-title: 1.75rem;
    --default-text-title: 1.45rem;
    --default-rem-size: 1rem;
  }

  nav .wide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--default-rem-size);
  }

  .nav-item-short-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--default-rem-size);
  }

  nav .short {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--default-rem-size);
  }

  .card {
    width: 470px;
  }
}

@media (min-width: 1950px) {
  :root {
    --default-font-size: 1.125rem;
    --default-rem-size: 1.125rem;
  }

  .title-nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--default-rem-size);
  }

  .nav-item-wide {
    height: 4rem;
    width: 12rem;
    font-size: 1.25rem;
  }

  .product-image {
    height: 10.5rem;
    width: 6.5rem;
  }

  .card-button2 {
    height: 3.75rem;
  }

  .reorder-button {
    width: 10rem;
  }
}
