/* MISC */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.italic {
    font-style: italic;
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.hidden {
  display: none;
}