/* CSS FROM QUICK-VIEW, CREATE_ITEM, and UPDATE-ITEM */
.card {
  height: fit-content;
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  gap: var(--default-rem-size);
  border-radius: var(--border-radius-outer);
  box-shadow: var(--box-shadow);
  font-size: var(--default-font-size);
  padding: var(--default-rem-size);
}

.main-data {
  width: 100%;
}

.main-data h1 {
  margin-bottom: -0.875rem;
  text-transform: uppercase;
}

.file-tab-span {
  display: inline-flex;
  background-color: var(--rose-dk);
  border: 2px solid var(--rose-dk);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: var(--white);
  font-size: var(--default-font-size);
  margin-bottom: 0.875rem;
  padding: 0.25rem;
}

.file-tab-text {
  margin-right: 0.25rem;
}

.col-row-adjustable {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--rose-lt);
  border: 2px solid var(--rose-dk);
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: var(--default-rem-size);
}

.product-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.product-image {
  height: 8rem;
  width: 4.5rem;
  background-color: var(--white);
  border: 2px solid var(--frog-black);
  border-radius: var(--border-radius-inner);
  object-fit: scale-down;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: var(--default-rem-size);
  background-color: var(--rose-lt);
  margin: var(--default-rem-size) 0;
  padding: var(--default-rem-size) 0;
}

.product-category {
  width: 7rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.product-data {
  height: fit-content;
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  font-weight: 600;
  white-space: nowrap;
}

.inventory-notifications,
.product-tags {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: var(--white);
  border-radius: var(--border-radius-inner);
  color: var(--frog-black);
  margin: var(--default-rem-size) 0;
  padding: var(--default-rem-size);
}

.inventory-notifications {
  border: 2px dashed var(--rose-dk);
}

.product-tags {
  border: 2px solid var(--frog-black);
  text-transform: lowercase;
}

.inventory-notifications h2,
.product-tags h2 {
  font-size: var(--default-font-size);
  margin: 0;
}

.inventory-detail {
  background-color: var(--frog-white);
  border: 2px solid var(--frog-black);
  border-radius: var(--border-radius-inner);
}

.page-title {
  font-family: var(--font-title);
  font-size: var(--default-fun-title);
  text-align: center;
}

.create-item-form-action input {
  margin-bottom: var(--default-rem-size);
}

.price-cost-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--default-rem-size);
}

.col-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-rem-size);
  background: var(--rose-lt);
  border-radius: var(--border-radius-inner);
  padding: var(--default-rem-size);
}

.update-item-form-action {
  border-radius: var(--border-radius-inner);
  padding: var(--default-rem-size);
}

.update-item-grid1 {
  display: grid;
  /* grid-template-columns: max-content 1fr; */
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
  align-items: center;
  align-self: start;
  justify-content: center;
}

.update-item-grid2 {
  display: grid;
  /* grid-template-columns: max-content 1fr; */
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
  align-items: center;
  align-self: start;
  justify-content: center;
  border-radius: var(--border-radius-inner);
  margin-bottom: var(--default-rem-size);
  padding: var(--default-rem-size);
}

.overflow-wide {
  overflow-x: scroll;
}

.page-not-found-image,
.under-construction-image {
  height: 21rem;
  width: auto;
  object-fit: fit;
}

/* BUTTON-CONTAINERS for all pages */
.button-container1,
.button-container2,
.button-container3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container1 {
  justify-content: space-evenly;
  margin: var(--default-rem-size) 0;
}

.button-container2 {
  justify-content: center;
  gap: var(--default-rem-size);
  margin: var(--default-rem-size) 0;
}

.button-container3 {
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;
}

/* PAGE SPECIFIC BUTTONS for all pages */
.round-button {
  border-radius: 50%;
}

.card-button1,
.card-button2,
.reorder-button,
.submit-button,
.cancel-button,
.show-inventory-type-button,
.tag-cloud-item-button {
  padding: 0.125rem;
}

.card-button1,
.card-button2 {
  display: flex;
  flex-wrap: wrap;
  border-radius: var(--border-radius-inner);
  font-family: var(--font-text);
  text-transform: uppercase;
  white-space: wrap;
}

.card-button1 {
  height: 2rem;
  width: 5rem;
  gap: var(--default-rem-size);
}

.card-button2 {
  height: 3.25rem;
  width: 6rem;
  text-align: center;
  padding: 0;
}

.reorder-button {
  width: 8rem;
  font-family: var(--font-text);
}

.submit-button,
.cancel-button {
  height: 2rem;
  width: 6rem;
}

.submit-button:hover,
.cancel-button:hover {
  background-color: var(--frog-black);
  color: var(--gold);
  transform: scale(1.1);
}

.submit-button:active,
.cancel-button:active {
  transform: scale(0.9);
}

.apply-filters-button {
  width: fit-content;
}

.show-inventory-type-button {
  width: 100%;
  font-family: var(--font-text);
  margin-bottom: 0.25rem;
}

.show-inventory-type-button:hover {
  background-color: var(--gold);
  transform: scale(1);
}

.tag-cloud-item-button {
  height: 1.75rem;
  width: fit-content;
  font-family: var(--font-text);
  font-size: var(--default-font-size);
    padding: 0 0.25rem;
  text-transform: lowercase;
}

.tag-cloud-item-button:hover {
  background-color: var(--frog-black);
  color: var(--gold);
}

/* FORM ELEMENTS */
label {
  font-weight: 600;
  text-transform: capitalize;
}

input {
  height: 1.75rem;
  width: 100%;
  border-radius: var(--border-radius-inner);
  font-weight: 600;
  padding: 0.25rem;
}

/* VISUAL FLAIR */
.quick-view-colors,
.create-item-colors,
.update-item-colors1,
.update-item-colors2 {
  border: 2px solid var(--frog-black);
}

.quick-view-colors {
  background-color: var(--frog-lt);
}

.create-item-colors {
  background: linear-gradient(05deg, var(--gold), var(--gold-lt));
}

.update-item-colors1 {
  background: linear-gradient(05deg, var(--black), var(--frog-black));
  color: var(--frog-black);
}

.update-item-colors2 {
  background-color: var(--frog-lt);
  color: var(--frog-black);
}

.update-item-form-action {
  background: linear-gradient(05deg, var(--rose-dk), var(--rose-lt));
}

.page-not-found-colors,
.under-construction-colors {
  background: linear-gradient(05deg, var(--frog-white), var(--white));
  color: var(--frog-dk);
}

.currency-backdrop {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  flex-wrap: nowrap;
  background-color: var(--frog-dk);
  border-radius: var(--border-radius-inner);
  color: var(--white);
  padding: 0 0.25rem 0 0.25rem;
}

.profit-line1 {
  border-top: 1px solid var(--rose-lt);
}

.profit-line2 {
  border-top: 1px solid var(--white);
}

.highlight-color1 {
  color: var(--gold-lt);
}

.highlight-color2 {
  color: var(--gold);
}

/* FULL VIEW is toggled */

.card.expanded {
  background: linear-gradient(05deg, var(--frog-dk), var(--frog-lt));
}

.card.expanded .toggle-additional-data {
  background-color: var(--frog-dk);
  color: var(--gold);
}

/* SIZE UNIT MESSAGES */
.unit-message {
  padding: 0 0.5rem;
  border-radius: 1rem;
  font-weight: 600;
}

.status-review {
  color: var(--gold);
  background-color: var(--frog-black);
}

.status-reorder {
  color: var(--gold);
  background-color: var(--red-dk);
}

.status-low {
  color: var(--frog-black);
  background-color: var(--orange-dk);
}

.status-overstock {
  color: var(--white);
  background-color: var(--blue-dk);
}

.reorder-button {
  background-color: var(--frog-white);
  color: var(--frog-black);
}

.reorder-button.action-initial {
  background-color: var(--frog-dk);
  color: var(--gold);
}

.reorder-button.action-now {
  background-color: var(--rose-lt);
}

.reorder-button.action-soon {
  background-color: var(--gold-lt);
}

/* SEARCH and FILTER */
.search-filter-container {
  min-width: 300px;
  /* margin: auto 0; */
  padding: 0.25rem;
}

/* .search-container,
.filter-container {
  min-width: 325px;
} */

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--default-rem-size);
  font-family: var(--font-text);
  /* font-size: var(--default-font-size); */
  margin-bottom: 0.25rem;
}

.filter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--default-rem-size);
  color: var(--white);
  /* font-size: var(--default-font-size); */
  /* padding: var(--default-rem-size); */
}

.search-bar {
  height: 2rem;
  width: var(--default-search-bar-w);
}

fieldset {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--default-rem-size);
  border-radius: var(--border-radius-inner);
  padding: var(--default-rem-size);
}

.brand-fieldset {
  width: 100%;
}

.brand-fieldset label {
  height: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.25rem;
  background-color: var(--rose-dk);
  border-radius: var(--border-radius-inner);
  padding: var(--default-rem-size);
  white-space: nowrap;
  word-break: keep-all;
}

.filter-ranges-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--default-rem-size);
}

.range-fieldset {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.range-fieldset legend {
  margin-bottom: -0.7rem;
}

.range-fieldset label {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: var(--default-rem-size);
}

.range-fieldset label input {
  height: 2rem;
  width: 6ch;
  /* font-size: var(--default-font-size); */
}

/* ERROR COMPONENTS */
/* Not used */
.errors,
ul {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0.25rem 0 0 0.25rem;
}

.errors li {
  color: var(--red-dk);
  font-weight: 600;
  margin-bottom: 0.25rem;
}

/* ADMIN PASSWORD MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--frog-lt-trans);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.modal form input {
  margin-bottom: 1rem;
}

.modal.hidden {
  display: none;
}

.modal-content {
  height: fit-content;
  width: 300px;
  background: var(--white);
  border: 2px solid var(--black);
  border-radius: var(--border-radius-inner);
  padding: 1rem;
  position: relative;
}

.close-button {
  height: fit-content;
  width: fit-content;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  border-radius: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.close-button:hover {
  border: none;
  color: var(--red-dk);
  transform: scale(2);
}

.admin-error-message {
  background-color: var(--gold);
  border-radius: var(--border-radius-inner);
  color: var(--red-dk);
  margin: var(--default-rem-size) 0;
  text-align: center;
}
