/* QUICK-VIEW and UPDATE-ITEM*/
.update-item-view {
  /* height: fit-content; */
  height: 100vh;
  /* width: fit-content; */
  /* width: 90vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* flex-wrap: nowrap; */
  gap: var(--default-rem-size);
  /* margin: 0 var(--default-rem-size); */
}

.update-item-title {
  font-family: var(--font-title);
  font-size: var(--default-fun-title);
  text-align: center;
}

.quick-view,
.update-item {
  height: fit-content;
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  /* gap: var(--default-rem-size); */
  background-color: var(--frog-lt);
  border: 2px solid var(--frog-black);
  border-radius: var(--border-radius-outer);
  box-shadow: var(--box-shadow);
  padding: var(--default-rem-size);
}

.update-item-details-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--default-rem-size);
}

.update-item-grid1 {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1rem;
  align-items: center;
  align-self: start;
  justify-content: center;
   /* padding: var(--default-rem-size);  */
}

.update-item-grid2 {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1rem;
  align-items: center;
  align-self: start;
  justify-content: center;
  background-color: var(--frog-dk);
  border: 2px solid var(--frog-dk);
  border-radius: var(--border-radius-inner);
  color: var(--gold-lt);
  margin-bottom: var(--default-rem-size);
   padding: var(--default-rem-size); 
}

/* NOTE - can't use below because it messes up to the toggle button */
.quick-view-details-col {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: var(--default-rem-size); */
}


.quick-view-details-col h1,
.update-item-details-col h1,
.quick-view-details-col h2,
.update-item-details-col h2 {
  margin-bottom: -0.875rem;
  text-transform: uppercase;
}

.quick-view-details-col h1,
.update-item-details-col h1 {
  font-size: var(--default-font-size);
}
.quick-view-details-col h2,
.update-item-details-col h2 {
  font-size: 0.95rem;
}

.file-tab-span {
  display: inline-flex;
  background-color: var(--rose-dk);
  border: 2px solid var(--rose-dk);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: var(--white);
  margin-bottom: 0.875rem;
  padding: 0.25rem;
}

.quick-view-details-adjustable {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: var(--default-rem-size); */
  background-color: var(--rose-lt);
  border: 2px solid var(--rose-dk);
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: var(--default-rem-size);
}

.update-item-details-adjustable {
  width: 100%;
  background-color: var(--rose-dk);
  border: 2px solid var(--rose-dk);
  border-radius: var(--border-radius-inner);
  color: var(--gold-lt);
  padding: var(--default-rem-size);
}

.quick-view-details-row,
.update-item-details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: var(--default-rem-size);
  background-color: var(--rose-lt);
}

.animal-type {
  width: 20ch;
}

.highlight-color {
  color: var(--gold-lt);
}

.highlight-color2 {
  color: var(--gold);
}

.quick-view-notifications,
.quick-view-tags,
.update-item-tags {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: var(--white);
  border-radius: var(--border-radius-inner);
    margin: var(--default-rem-size) 0;
  padding: var(--default-rem-size);
}

.quick-view-notifications {
  border: 2px dashed var(--rose-dk);
}

.quick-view-unit-message {
  font-weight: 600;
}

.quick-view-tags,
.update-item-tags {
  border: 2px solid var(--frog-black);
  text-transform: lowercase;
}

.quick-view-notifications h2,
.quick-view-tags h2,
.update-item-tags h2 {
  font-size: 0.95rem;
  margin: 0;
}

.notifications {
  /* font-size: 0.9rem; */
}

.quick-view-button-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: var(--default-rem-size) 0;
}

.quick-view-button-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--default-rem-size);
    margin: var(--default-rem-size) 0;
}

.quick-view-details-row {
    margin: var(--default-rem-size) 0;
}

.quick-view-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.quick-view-image {
  height: 8rem;
  width: 4.5rem;
  background-color: var(--white);
  border: 2px solid var(--frog-black);
  border-radius: var(--border-radius-inner);
  object-fit: scale-down;
}

.quick-view-category,
.quick-view-data {
  height: fit-content;
  /* width: 7.75rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 0.5rem;
}

.update-item-category,
.update-item-data {
  /* height: fit-content; */
  height: auto;
  /* width: 7.75rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* gap: var(--default-rem-size); */
  /* padding: 0.5rem; */
}

.quick-view-category,
.update-item-category {
  /* width: 7.5rem; */
  width: 7rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.quick-view-data,
.update-item-data {
  width: 9rem;
  font-weight: 600;
  padding-left: 0.25rem;
  white-space: nowrap;
}

.overflow-wide {
  overflow-x: auto;
}

.variant-details {
  background-color: var(--frog-white);
  border: 2px solid var(--frog-black);
  border-radius: var(--border-radius-inner);
  /* font-size: 0.9rem; */
  /* padding: 0.5rem; */
}

.quick-view-profit1 {
  border-top: 1px solid var(--frog-black);
}

.quick-view-profit2 {
  border-top: 1px solid var(--white);
}

/* .quick-view-money1, */
.quick-view-money2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  flex-wrap: nowrap;
  background-color: var(--frog-dk);
  border-radius: var(--border-radius-inner);
  color: var(--white);
  padding: 0 0.25rem 0 0.25rem;
  /* text-align: right; */
}

.update-item-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* TODO - DELETE if unused - DELETE LAST */
.tags {
  /* TODO - I need this to wrap and break */
  /* WORD BREAKING HERE!!! For super long words entered by the user.*/
  padding: 0.5rem 0;
  overflow-wrap: break-word;
  word-wrap: break-word; /* legacy */
  word-break: break-word; /* extra robustness */
}

.additional-data {
  /* Only used in main.js - TODO - Double check this!!! */
}


/* CREATE-ITEM */
.create-item-view {
  /* height: fit-content; */
  height: 100vh;
  /* width: fit-content; */
  /* width: 90vw; */
  display: flex;
  flex-direction: column;
  /* align-items: ; */
  justify-content: start;
  /* flex-wrap: nowrap; */
  /* gap: var(--default-rem-size); */
  margin: 0 var(--default-rem-size);
}

.create-item-title {
  font-family: var(--font-title);
  font-size: var(--default-fun-title);
  text-align: center;
}

.create-item {
  height: fit-content;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: nowrap;
  /* gap: var(--default-rem-size); */
  /* background-color: var(--gold-lt); */
  border: 2px solid var(--frog-black);
  border-radius: var(--border-radius-outer);
  box-shadow: var(--box-shadow);
  /* margin: 0 var(--default-rem-size); */
  padding: var(--default-rem-size);
}

.create-item {
  background-color: var(--gold-lt);
}

.price-cost-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--default-rem-size);
}

.create-item-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.create-item-col input {
  width: 100%;
}

.create-item-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}






